<%= form_with(model: post, class: "contents") do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.rich_text_area :body, placeholder: "Write something amazing...",
      data: {
        controller: "trix-embed",
        trix_embed_allowed_link_hosts_value: ["clickfunnels.com", "linkedin.com"],
        trix_embed_blocked_link_hosts_value: [],
        trix_embed_allowed_media_hosts_value: ["clickfunnels.com", "giphy.com", "loom.com", "vimeo.com", "voomly.com", "youtube.com"],
        trix_embed_blocked_media_hosts_value: [],
        trix_embed_iframe_template_value: "iframe-template"
      } %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
